// Variables
$body-font: "Open Sans",
    "sans-serif";
$header-bg: #000;
$header-text: #fff;
$redes-color: #fff;
$redes-hover-gradient: linear-gradient(to right bottom,
        #d16ba5,
        #c777b9,
        #ba83ca,
        #aa8fd8,
        #9a9ae1,
        #8aa7ec,
        #79b3f4,
        #69bff8,
        #52cffe,
        #41dfff,
        #46eefa,
        #5ffbf1);

// Mixins
@mixin hover-gradient {
    background: #9a9a9a;
    transform: scale(1.05);
    background: $redes-hover-gradient;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@mixin shops ($position , $repeat ) {
    background-position: $position;
    background-repeat: $repeat;
}

// Header
.headertop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $header-bg;
    color: $header-text;
    width: 100%;

    .redes i {
        color: $redes-color;
        font-size: 25px;
        text-decoration: none;
        letter-spacing: 15px;
        margin-top: 5px;
        margin-bottom: 5px;

        &:hover {
            @include hover-gradient;
        }
    }
}


/* Nav */

.logo {
    text-align: right;
    text-decoration: none;

    img {
        height: 80px;

        &:hover {
            scale: 1.03;
        }
    }
}

.navbar-toggler {
    border: 0;
}

span .fa-solid {
    color: #000000;
    font-size: 25px;
    margin-right: 30px;
    margin-top: 0;
}

#navbarid {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 5px;
    padding-left: 20px;
    font-weight: bold;
    text-transform: capitalize;
    box-sizing: border-box;

    .barra {
        padding-right: 50px;

        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            list-style: none;
            margin: 20px;

            li {
                margin: 20px;

                a {
                    color: #000000;
                    text-decoration: none;
                    font-size: 18px;

                    &:hover,
                    &:active {
                        background: #9a9a9a;
                        background: linear-gradient(to right bottom,
                                #d16ba5,
                                #c777b9,
                                #ba83ca,
                                #aa8fd8,
                                #9a9ae1,
                                #8aa7ec,
                                #79b3f4,
                                #69bff8,
                                #52cffe,
                                #41dfff,
                                #46eefa,
                                #5ffbf1);
                        -webkit-text-fill-color: transparent;
                        -webkit-background-clip: text;
                    }
                }
            }
        }
    }
}

/* Section */

.secimg {
    background-color: #000000;
    width: 100%;
    height: 500px;
    background-image: url(./img/nncv5.jpg);
    background-size: cover;
    background-position: bottom;
    margin-top: -60px;
    margin-bottom: 30px;

    h1 {
        color: rgba(255, 255, 255, 0.457);
        font-size: 70px;
        text-align: center;
        padding-top: 220px;
        width: 100%;
    }
}

/* INDEX/HOME */

.titulo {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 30px;
}

.mainhome1 {
    display: flex;
    flex-wrap: wrap;
    height: 96%;
    margin-left: 2%;
    margin-right: 2%;
    width: auto;

    div {
        flex: 1 0 calc(50% - 20px);
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
            background-position: contain;
            background-size: cover;
        }

        img:hover {
            scale: 1.01;
        }

        p {
            text-align: center;
        }
    }
}

.mainhome2 {
    display: flex;
    flex-wrap: wrap;
    height: 96%;
    margin-left: 2%;
    margin-right: 2%;
    width: auto;

    div {
        flex: 1 0 calc(50% - 20px);
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        img:hover {
            scale: 1.01;
        }

        p {
            text-align: center;
        }
    }
}

/* SHOP */

.mainshop {
    display: flex;
    flex-wrap: wrap;
    height: 96%;
    margin-left: 2%;
    margin-right: 2%;
    width: auto;

    div {
        flex: 1 0 calc(33.33% - 20px);
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        img:hover {
            scale: 1.01;
        }

        p {
            text-align: center;
        }
    }
}

/* WOMEN/MEN */

.mainwomen {
    display: flex;
    flex-wrap: wrap;
    height: 96%;
    margin-left: 2%;
    margin-right: 2%;
    width: auto;

    div {
        flex: 1 0 calc(33.33% - 20px);
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        img:hover {
            scale: 1.01;
        }

        .model {
            font-size: 20px;
        }

        .price {
            text-align: center;
            color: #4f4f4f;
            font-size: 15px;
        }
    }
}

.mainmen {
    display: flex;
    flex-wrap: wrap;
    height: 96%;
    margin-left: 2%;
    margin-right: 2%;
    width: auto;

    div {
        flex: 1 0 calc(33.33% - 20px);
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        img:hover {
            scale: 1.01;
        }

        h3 {
            font-size: 20px;
        }

        p {
            text-align: center;
            color: #4f4f4f;
            font-size: 15px;
        }
    }
}

/* CONTACTO */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 400px;

        input[type="text"],
        input[type="email"],
        textarea {
            padding: 10px;
            border: 2px solid #ccc;
            border-radius: 20px;
            font-size: 16px;
            width: 100%;
            margin-bottom: 10px;

            &:focus::placeholder {
                color: transparent;
            }
        }

        textarea::placeholder {
            font-family: Arial, sans-serif;
        }

        input[type="text"]:focus,
        input[type="email"]:focus,
        textarea:focus {
            outline: none;
        }

        input[type="submit"] {
            background-color: #000000;
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: #ffffff;
            box-shadow: 0 0 20px #ffffff;
            border-radius: 20px;
            display: block;

            &:hover {
                background-image: linear-gradient(to right,
                        #e55d87 0%,
                        #5fc3e4 51%,
                        #e55d87 100%);
                background-position: right center;
                color: #000000;
                text-decoration: none;
                scale: 1;
            }
        }

        label {
            font-size: 20px;
            font-weight: bold;
            text-align: left;
        }
    }
}

/* FOOTER */

footer {
    width: 100%;
    height: auto;
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;

    a {
        color: white;
        text-decoration: none;
        letter-spacing: 10px;
        font-size: 35px;

        &:hover {
            background: #9a9a9a;
            scale: 1.1;
            background: linear-gradient(to right bottom,
                    #d16ba5,
                    #c777b9,
                    #ba83ca,
                    #aa8fd8,
                    #9a9ae1,
                    #8aa7ec,
                    #79b3f4,
                    #69bff8,
                    #52cffe,
                    #41dfff,
                    #46eefa,
                    #5ffbf1);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
    }

    p {
        padding-top: 30px;
        font-size: 15px;
    }
}

@import "_mediaquery";